:root {
    --font-color: #0D0302;
    --background-color: #FBFAFA;

    --primary-color: #861A1A;
    --secondary-color: #F54D4D;
    --tertiary-color: #989898;

    --nav-height: 60px;
    --nav-focus: #401A1A;
    
    --footer-color: #787878;
}

* {
    scroll-behavior: smooth;
}

.darkMode {
    --font-color: #EEEEEE;
    --background-color: #0F0B0B;
}

body {
    font: normal 16pt 'Karla', 'Montserrat', monospace;
    color: var(--font-color);
    background: var(--background-color);
    margin: auto;
}

.logo{
    width: 128px;
    height: 128px;
}

.container {
    height: 600px;
    margin-left: 20px;
    margin-top: 20vh;
}

.colunas {
    display: flex;
    flex-direction: row;
}

.button {
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    justify-self: center;
    transition: 0.5s;
}

.button:hover {
    color: var(--background-color);
    background-color: var(--primary-color);
    transition: 0.5s;
}

h1 {
    font-size: 36pt;
    color: var(--primary-color);
}

/* BARRA NAV */
nav {
    top: 0;
    padding: 5px;
    font: normal 15pt 'Montserrat', monospace;
    width: 100vw;
    height: var(--nav-height);
    position: fixed;
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    box-shadow: 0 2px var(--nav-focus);
    z-index: 100;
}

nav .scroll {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}

nav .logo {
    justify-content: flex-start;
    padding-top: 0;
    margin-top: -15px;
}

nav a {
    text-decoration: none;
    color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
}

nav a:hover {
    background-color: var(--secondary-color);
    transition: 0.4s;
    color: var(--nav-focus);
}

nav ul {
    margin-left: 275px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

nav li {
    padding-left: 20px;
}

/* SERVIÇOS */
#serviços {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: var(--background-color);
    color: var(--font-color);
}

#serviços .container h1 {
    padding: auto;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.card {
    width: 30vw;
    background-color: var(--background-color);
    color: var(--font-color);
    border: 1px rgba(0, 0, 0, 0.3) solid;
    border-radius: 0.6rem;
    box-shadow: -1rem 1rem 1rem rgba(0, 0, 0, 0.267);
}

/* BACK TO HOME */
#backToTopButton {
    position: fixed;
    bottom: 1.5rem;
    right: 2.5rem;
  
    opacity: 0;
    visibility: hidden;
  
    transition: 200ms;
    transform: translateY(100%);
}
  
#backToTopButton.show {
    opacity: 1;
    visibility: visible;
  
    transform: translateY(0);
}

/* FOOTER */
footer {
    background-color: var(--tertiary-color);
    color: var(--background-color);
}

footer .container {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logoFooter {
    height: 128px;
    margin-top: 5vh;
}

.navFooter {
    color: var(--background-color);
}

.navFooter ul {
    list-style: none;
    margin-top: 5vh;
}

.navFooter a {
    color: var(--background-color);
    text-decoration: none;
    transition: 0.4s;
}

.navFooter a:hover {
    color: var(--nav-focus);
    transition: 0.4s;
}

.servicosFooter ul {
    list-style: none;
    flex-direction: column;
    font-size: 13pt;
    margin-left: -40px;
    margin-top: -20px
}

.contatoFooter p {
    font-size: 13pt;
}

footer section {
    height: 50px;
    text-align: center;
    background-color: var(--footer-color);
    align-content: center;
}

footer section span {
    font-size: 12pt;
    margin: auto;
}
